<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!-- 主库：如果配置了多个数据库，数据库名称后缀是以1开始的数字。 -->
    <!-- Master database: If multiple databases are configured, the suffix of the database name is a number starting with 1. -->
    <add name="master" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>
    <!-- 从库：如果配置了多个数据库，数据库名称后缀是以1开始的数字。 -->
    <!-- Slave database: If multiple databases are configured, the suffix of the database name is a number starting with 1. -->
    <add name="secondary1" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>
    <add name="secondary2" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>

    <add name="test_MariaDB" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySqlConnector.MariaDB"/>
    <add name="test_TiDB" connectionString="server=127.0.0.1;port=4000;database=test;user id=root;password=" providerName="TiDB"/>
    <add name="test_OceanBase" connectionString="server=127.0.0.1;port=2881;database=test;user id=root@sys;password=" providerName="OceanBase"/>
    <add name="test_SqlServer" connectionString="server=127.0.0.1;database=test;uid=sa;pwd=12345!a" providerName="System.Data.SqlClient"/>
    <add name="test_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=TEST;Password=12345!a;Persist Security Info=True" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="test_SQLite" connectionString="data source=.\test.db;version=3" providerName="System.Data.SQLite"/>
    <add name="test_DuckDB" connectionString="Data Source=.\test_DuckDB.db" providerName="DuckDB.NET.Data"/>
    <!-- MS Access 2003 -->
    <add name="test_MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\Test.mdb" providerName="System.Data.OleDb"/>
    <!-- MS Access 2007+ -->
    <!--<add name="test_MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\Test.accdb" providerName="System.Data.OleDb"/>-->
    <!-- Firebird Server version -->
    <!--<add name="test_Firebird" connectionString="database=localhost:demo.fdb;user=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>-->
    <!-- Firebird Embedded version -->
    <add name="test_Firebird" connectionString="initial catalog=.\test.fdb;user id=sysdba;pooling=True;server type=Embedded;client library=fbclient.dll" providerName="FirebirdSql.Data.FirebirdClient"/>
    <add name="test_PostgreSql" connectionString="server=127.0.0.1;database=postgres;username=postgres;password=12345!a" providerName="Npgsql"/>
    <add name="test_OpenGauss" connectionString="server=127.0.0.1;port=15432;database=postgres;username=gaussdb;password=Enmo@123" providerName="OpenGauss"/>
    <add name="test_HighgoDB" connectionString="server=127.0.0.1;port=5866;database=highgo;username=highgo;password=Highgo!123" providerName="HighgoDB"/>
    <add name="test_IvorySQL" connectionString="server=127.0.0.1;port=5333;database=postgres;username=ivorysql;password=666666" providerName="IvorySQL"/>
    <add name="test_QuestDB" connectionString="server=127.0.0.1;port=8812;database=qdb;username=admin;password=quest;ServerCompatibilityMode=NoTypeLoading" providerName="QuestDB"/>
    <add name="test_DB2" connectionString="Server=127.0.0.1;Database=sample;UID=db2admin;PWD=12345!a" providerName="IBM.Data.DB2"/>
    <add name="test_Informix" connectionString="Host=127.0.0.1;Service=9088;Server=ol_informix1410;Database=Test;User ID=informix;Password=12345!a;Protocol=onsoctcp" providerName="IBM.Data.Informix"/>
    <add name="test_ClickHouse" connectionString="Host=localhost;Port=8123;Database=default" providerName="ClickHouse.Client"/>
    <add name="test_DM" connectionString="SERVER=127.0.0.1;PORT=5236;USER=SYSDBA;PASSWORD=SYSDBA" providerName="DM"/>
    <add name="test_KingbaseES" connectionString="Server=127.0.0.1;port=54321;Database=test;UID=system;password=12345!a" providerName="Kdbndp"/>
    <add name="test_ShenTong" connectionString="Host=127.0.0.1;Port=2003;Database=OSRDB;UserName=sysdba;Password=szoscar55" providerName="ShenTong"/>
    <add name="test_Xugu" connectionString="server=127.0.0.1;port=5138;database=SYSTEM;uid=SYSDBA;pwd=SYSDBA" providerName="Xugu"/>
  </connectionStrings>
  <appSettings>

  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
</configuration>