<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 主库：如果配置了多个数据库，数据库名称后缀是以1开始的数字。 -->
		<!-- Master database: If multiple databases are configured, the suffix of the database name is a number starting with 1. -->
		<add name="master" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>
		<!-- 从库：如果配置了多个数据库，数据库名称后缀是以1开始的数字。 -->
		<!-- Slave database: If multiple databases are configured, the suffix of the database name is a number starting with 1. -->
		<add name="secondary1" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>
		<add name="secondary2" connectionString="DataSource=127.0.0.1;Database=test;uid=root;pwd=12345!a" providerName="MySql.Data.MySqlClient"/>

		<add name="test_SQLite" connectionString="data source=.\test.db;version=3" providerName="System.Data.SQLite"/>
		<add name="test_SqlServer" connectionString="server=127.0.0.1;database=test;uid=sa;pwd=12345!a" providerName="System.Data.SqlClient"/>
		<!-- MS Access 2003 -->
		<add name="test_MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\Test.mdb" providerName="System.Data.OleDb"/>
		<!-- MS Access 2007+ -->
		<!--<add name="test_MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\Test.accdb" providerName="System.Data.OleDb"/>-->
	</connectionStrings>
	<appSettings>

	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
		</DbProviderFactories>
	</system.data>
</configuration>